@use 'loginn.scss' as *;
@use 'layout.scss' as *;
@use 'colors.scss' as *;
@use 'fonts' as *;

*{
    box-sizing: border-box;
}

body{
    background-color: $blue;
    height: 100vh;
    font-family: $mainFont;
    background-image: url(https://picsum.photos/1200/1200);
    background-size: cover;
}
